<div class="hs_footer_top_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_logo_wrapper hs_footer_list_wrapper">
                    <h2>About <span>MPVTRUST</span></h2>

                    <p>Born on 9th June 1979 at Anda, Khurda in an upper middle class Brahmin family, Prof. Jagannatha
                        Mohapatra Completed his Schooling from Kaviraj Chintamani Bidhyapitha, Nijigarh, Tapang in 1994.
                        .</p>
                    <h4><a href="#">Read More <i class="bi bi-arrow-right"></i></a></h4>
                    <ul>
                        <li><a href="https://www.facebook.com/maharshiparashara.vedictrust.5"><i
                                    class="bi bi-facebook e1"></i></a></li>
                        <li><a href="https://twitter.com/VedicTrust"><i class="bi bi-twitter e2"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCvIHJdjpKIBtU0G-39DsIyA"><i
                                    class="bi bi-youtube q7"></i></a></li>
                        <li><a href="https://www.instagram.com/accounts/login/?next=/mpvtrust2019/"><i
                                    class="bi bi-instagram q6"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_list_wrapper">
                    <h2>Usefull <span>Links</span></h2>
                    <ul class="hs_footer_list">
                        <li><a href=""><i class="bi bi-caret-right-fill" aria-hidden="true"></i>About Trust
                            </a>
                        </li>
                        <li><a href=><i class="bi bi-caret-right-fill" aria-hidden="true"></i> Horoscope </a>
                        </li>
                        <li><a href=""><i class="bi bi-caret-right-fill" aria-hidden="true"></i> Services
                            </a>
                        </li>
                        <li><a href=""><i class="bi bi-caret-right-fill" aria-hidden="true"></i> Products
                            </a>
                        </li>
                        <li><a href=""><i class="bi bi-caret-right-fill" aria-hidden="true"></i>Gallery
                            </a>
                        </li>

                        <li><a href=""><i class="bi bi-caret-right-fill" aria-hidden="true"></i>Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_list_wrapper">
                    <h2>Contact <span>Us</span></h2>
                </div>
                <div>
                    <ul class="sadia">
                        <li>
                            <i class="bi bi-house-door-fill"></i>
                            Near Trisulia chhak
                            At-Madhupur, Trisulia,
                            ps-Baranga,Dist -Cuttack,
                            Odisha, Pin-754005
                        </li>

                        <li>
                            <i class="bi bi-house-door-fill"></i>+91-7787597000,<br>
                            +91 9861739319
                        </li>
                        <li style="margin-top: 46px;">
                            <i class="bi bi-envelope-fill"></i>info@mptvtrust.com, maharshiparasharavedictrust@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_footer_list_wrapper">
                    <h2>Locate <span>Us</span></h2>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14954.602587851276!2d85.8394298!3d20.4384528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcd5dc444fe245c5c!2sTrisulia%20Chhaka%20Bus%20Stop!5e0!3m2!1sen!2sin!4v1636371619241!5m2!1sen!2sin"
                    width="600" height="450" style="border:0; width:100%; height: 220px;" allowfullscreen=""
                    loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="hs_bottom_footer_main_wrapper">
    <a href="" id="return-to-top" style="display: block;"><i class="bi bi-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footer_bottom_cont_wrapper">
                    <p>© Copyright 2021 Mpvt Trust.Designed &amp; Devloped By <a href="https://edevlop.com/">EDevlop</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="footer_bottom_list_wrapper">
                    <a href="#">Privacy policy</a>

                    <a href="#">Terms &amp; Conditions</a>

                    <a class="asl1" href="#">Refund policy</a>


                </div>
            </div>
        </div>
    </div>
</div>