<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 600px;">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="../../assets/ast2.jpg" class="d-block w-100" style="height: 820px;" alt="...">
            <div class="slide-text" style="margin-left: 510px; margin-top: -134px">
                <!-- <h1 class="h_y">WELCOME
                    <span>TO</span>
                </h1> -->
                <div class="h_y line">
                    <h4 class='lineUp'>WELCOME TO</h4>
                </div>
                <!-- <p> </p>
                <h3>THE MAHARSHI PARASHARA VEDIC TRUST ODISHA</h3> -->
                <div class='line'>
                    <h3 class='pop-outin'>THE MAHARSHI PARASHARA VEDIC TRUST ODISHA</h3>
                </div>

                <!-- <p>
                    <a href="" class="btn btn-primary">Read more</a>
                </p> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/ast3.jpg" class="d-block w-100" style="height: 820px;" alt="...">
            <div class="slide-text" style="margin-left: 510px; margin-top: -134px">
                <!-- <h3 class="h_y">WELCOME <span>To</span></h3> -->
                <div class="h_y line">
                    <h4 class='lineUp'>WELCOME TO</h4>
                </div>

                <p> </p>
                <div class='line'>
                    <h3 class='pop-outin'>THE MAHARSHI PARASHARA VEDIC TRUST ODISHA</h3>
                </div>

                <!-- <p>
                    <a href="" class="btn btn-primary">Read more</a>
                </p> -->
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="../../assets/mr8.webp" class="d-block w-100" style="height: 820px;" alt="...">
            <div class="slide-text" style="margin-left: 510px; margin-top: -134px">
                <!-- <h3 class="h_y">WELCOME
                    <span>TO</span>
                </h3> -->
                <div class="h_y line">
                    <h4 class='lineUp'>WELCOME TO</h4>
                </div>
                <div class='line'>
                    <h3 class='pop-outin'>THE MAHARSHI PARASHARA VEDIC TRUST ODISHA</h3>
                </div>
                <!-- <p>
                    <a href="" class="btn btn-primary">Read more</a>
                </p> -->
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>