<app-navbar></app-navbar>

<div class="hs_title_img_overlay">
          <div class="title_wrapper"></div>
          <div class="container">
                    <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_indx_title_left_wrapper">
                                                  <h2 class="about_h2">About trust</h2>
                                        </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                                        <div class="hs_indx_title_right_wrapper">
                                                  <ul>
                                                           
                  
                                                  </ul>
                                        </div>
                              </div>
                    </div>
          </div>
</div>

<div class="hs_about_indx_main_wrapper about_page_wrapper">
          <div class="container">
                    <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="hs_about_left_img_wrapper">
                                                  <img src="../../assets/362.jpg" alt="about_img">
                                        </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="hs_about_heading_main_wrapper">
                                                  <div class="hs_about_heading_wrapper"><br>
                                                            <h2>Secretary<span> profile</span></h2>
                                                            <h4><span>&nbsp;</span></h4>
                                                  </div>
                                        </div>
                                        <div class="hs_about_right_cont_wrapper">
                                                  <p>Born on <strong>9th June 1979 at Anda,</strong> Khurda in an upper middle class Brahmin family, Prof.
                                                            Jagannatha Mohapatra Completed his Schooling from Kaviraj Chintamani Bidhyapitha, Nijigarh,
                                                            Tapang in 1994. He successfully completed his Diploma in Mechanical Engineering from
                                                            U.C.P.E.S. Berhampur in 1997.</p><p> He was selected as a Junior Commissioned Officer in Indian
                                                            Navy in 1999 and served there for some time. His left that job to join C.E.T. Bhubaneswar as
                                                            a lateral entrant and successfully completed his B.Tech in the year 2005.</p> 
                                                            <p>Although he got
                                                            multiple job offers through campus placement he refused those offers to join a leading
                                                            Technical Institute as a faculty because he thought that he would do a better service.</p>
                                                  <p></p>

                                                  <!-- <div class="hs_effect_btn hs_about_btn">

                                                  </div> -->
                                        </div>

                                        <br>
                                        <br>
                              </div>
                    </div>
          </div>
</div>
<div class="hs_about_indx_main_wrapper about_page_wrapper">
          <div class="container">
                    <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="hs_about_heading_main_wrapper">
                                                  <div class="hs_about_heading_wrapper">
                                                            <h2>Profile of the <span>President</span></h2>
                                                            <h4><span>&nbsp;</span></h4>
                                                  </div>
                                        </div>
                                        <br>
                                        <div class="hs_about_right_cont_wrapper">
                                                  <p>
                                                            Born on <strong> June 1979 at Anda,</strong> Khurda in an upper middle class Brahmin family, Prof.
                                                            Jagannatha
                                                            Mohapatra Completed his Schooling from Kaviraj Chintamani Bidhyapitha, Nijigarh, Tapang in
                                                            1994.
                                                            He successfully completed his Diploma in Mechanical Engineering from U.C.P.E.S. Berhampur in
                                                            1997.
                                                            </p><p> He was selected as a Junior Commissioned Officer in Indian Navy in 1999 and served
                                                            there
                                                            for some time.
                                                   His left that job to join C.E.T. Bhubaneswar as a lateral entrant and
                                                            successfully completed his B.Tech in the year 2005.</p> 
                                                            <p>Although he got multiple job offers
                                                            through
                                                            campus placement he refused those offers to join a leading Technical Institute as a faculty</p>
                                                  <p></p>

                                                  <div class="hs_effect_btn hs_about_btn">

                                                  </div>
                                        </div>

                              </div>


                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="hs_about_left_img_wrapper">
                                                  <img src="../../assets/362.jpg" alt="about_img">
                                        </div>
                              </div>
                    </div>
          </div>
</div>

<app-footer></app-footer>
