<app-navbar></app-navbar>

<!-- **************HOROSCOPE**************** -->
<div class="hs_title_img_overlay">
    <div class="title_wrapper"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hs_indx_title_left_wrapper">
                    <h2 class="about_h2" style="margin-left: -258px; margin-top: -5rem;">Horoscope</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hs_sign_heading_wrapper">
    <div class="hs_about_heading_main_wrapper">
        <div class="hs_about_heading_wrapper" style="margin-top: 4rem;">
            <h2><i class="fa fa-clock"></i><span>Horoscope</span></h2>
            <h4><span>&nbsp;</span></h4>
            <p></p>
        </div>
    </div>
</div>



<!-- Product Section - Start -->
<section>
    <div class="container">
        <div class="row g-4 py-5">
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            $55.00
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/crp.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/crp.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Aries</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">मेष राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/trs.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/trs.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Taurus</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">वृषभ राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/gemini.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/gemini.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Gemini</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">मिथुन राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/karkat-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/karkat-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Cancer</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">कर्क राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/leo.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/leo.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Leo</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">सिंह राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/kanya-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/kanya-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Virgo</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">कन्या राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/tula-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/tula-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Libra</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">तुला राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/cancer.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/cancer.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Scorpio</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">वृश्चिक राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/sag.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/sag.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Sagittarius</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">धनु राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/makar-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/makar-rashi.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Capricorn</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">मकर राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/miin.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/miin.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Aquarius</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">कुंभ राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="product-single-card">
                    <div class="product-top-area">
                        <!-- <div class="product-discount">
                            10%
                        </div> -->

                        <div class="product-img">
                            <div class="first-view">
                                <img src="../../assets/mn2.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                            <div class="hover-view">
                                <img src="../../assets/mn2.png" alt="logo" class="img-fluid"
                                    onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                            </div>
                        </div>
                        <!-- <div class="sideicons">
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="sideicons-btn">
                                <i class="fa-solid fa-shuffle"></i>
                            </button>
                        </div> -->
                    </div>
                    <div class="product-info">
                        <h6 class="product-category"><a href="#">Pisces</a></h6>
                        <h6 class="product-title text-truncate"><a href="#">मीन राशि</a></h6>
                        <div class="d-flex align-items-center">
                            <div class="review-star me-1">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>

                            <!-- <span class="review-count">(13)</span> -->
                        </div>
                        <div class="d-flex flex-wrap align-items-center py-2">
                            <div class="old-price">

                            </div>
                            <div class="new-price">
                                31 Mar - 12 Oct
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Product Section - End -->

<div class="mineContainer" style="margin-top: auto; margin-bottom: 36rem; margin-left: 179px;">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 full_width royal r1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <img class="so so1" src="../../assets/klogs.png" alt="img">
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h1 class="knd">Kundali</h1>
            </div>
        </div>
        <!-- <form action="" method="post" class="was-validated"> -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 real">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Name" class="form-control" required="">
            </div>
        </div>
        <div class="col-md-6 real">
            <label>Gender</label><br>
            <label class="radio-inline">
                <input type="radio" name="gender" value="Male" checked="">Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="Female">Female
            </label>
        </div>
        <div class="col-md-6 real">
            <label for="place">Place of Birth:</label>
            <input type="text" name="place" id="place" class="border_clr" required="">
        </div>
        <div class="col-md-6 real">
            <label for="birthday">Birth Date:</label><br>
            <input type="date" name="date" id="date" class="border_clr" required="">
        </div>
        <div class="col-md-6 real">
            <label for="appt-time">Time of Birth</label><br>
            <input type="time" name="time" id="appt-time" class="border_clr" required="">
        </div>
        <div class="col-md-6 real">
            <label for="gender">Language:</label>
            <input type="text" name="language" id="language" class="border_clr" required="">
        </div>
        <div class="col-md-6 real">
            <label for="mobile">Phone number</label>
            <input type="text" name="mobile" maxlength="13" id="mobile" class="form-control" required="">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 real">
            <input type="submit" class="btn btn-primary" name="submit" value="Get Kundli">
        </div>
    </div>



    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 full_width royal">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 r2">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <img class="so1" src="../../assets/mlogo copy.png" alt="img">
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 full_width">
                <h1 class="knd">Matching</h1>
            </div>
            <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12 ">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" onclick="onChangeTab('male')">
                        <a class="nav-link" data-toggle="tab" href="#male"><i class="fa bi-gender-male"></i> Male</a>
                    </li>
                    <li class="nav-item" onclick="onChangeTab('female')">
                        <a class="nav-link" data-toggle="tab" href="#female"><i class="fa bi-gender-female"></i>
                            Female</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">

                <div id="male" class="container tab-pane active col-lg-12 col-md-2 col-sm-12 col-xs-12"><br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 real pd_0">
                        <input type="hidden" value="" id="gender-value" name="gender">
                        <label for="mname">Name</label>
                        <input type="text" id="mname" name="mname" placeholder="" class="form-control">
                    </div>

                    <div class="row">

                        <div class="col-md-6 real">
                            <label for="birthday">Birth Date:</label><br>
                            <input type="date" id="mbirthday" name="mbirthday" class="border_clr">


                        </div>
                        <div class="col-md-6 real">
                            <label for="appt-time">Time of Birth</label><br>
                            <input type="time" id="mappt-time" name="mappt-time" class="border_clr">

                        </div>

                        <div class="col-md-6 real">
                            <label for="Country">Country</label>
                            <input type="text" id="mcountry" name="mcountry" placeholder="" class="form-control">

                        </div>
                        <div class="col-md-6 real">
                            <label for="Place">Place</label>
                            <input type="text" id="mplace" name="mplace" placeholder="" class="form-control">

                        </div>

                    </div>
                </div>
                <div id="female" class="container tab-pane fade col-lg-12 col-md-2 col-sm-12 col-xs-12"><br>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 real pd_0">
                        <label for="fname">Name</label>

                        <input type="text" id="fname" name="fname" placeholder="" class="form-control">

                    </div>

                    <div class="row">
                        <div class="col-md-6 real">
                            <label for="birthday">Birth Date:</label><br>
                            <input type="date" id="birthday" name="fbirthday" class="border_clr">
                        </div>
                        <div class="col-md-6 real">
                            <label for="appt-time">Time of Birth</label><br>
                            <input type="time" id="appt-time" name="fappt-time" class="border_clr">
                        </div>
                        <div class="col-md-6 real">
                            <label for="Country">Country</label>
                            <input type="text" id="fcountry" name="fcountry" placeholder="" class="form-control">
                        </div>
                        <div class="col-md-6 real">
                            <label for="Place">Place</label>
                            <input type="text" id="fplace" name="fplace" placeholder="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 real ">
                    <input type="submit" class="btn v5" name="submit1" value="submit">
                </div>
            </div>
        </div>
    </div>




    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 full_width royal">

        <img class="asl" src="../../assets/mps.png" alt="img" style="border-radius: 16px;">

    </div>
</div>


<app-footer></app-footer>