<app-navbar></app-navbar>

<!-- **************PRODUCTS**************** -->
<div class="hs_title_img_overlay">
    <div class="title_wrapper"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hs_indx_title_left_wrapper">
                    <h2 class="about_h2" style="margin-left: 39px; margin-top: 0rem;">Products</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ******************************************* -->
<!-- <div class="hs_blog_categories_main_wrapper shop_wrapper"> -->
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 class=i-s">
        <div class="hs_shop_tabs_cont_sec_wrapper">
            <div class="tab-content">
                
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=6">
                                        <img src="../../assets/11304_ass9.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=6">Yantra</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=7">
                                        <img src="../../assets/95168_1.png" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=7">vedic dhoop</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=8">
                                        <img src="../../assets/82466_2.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=8">Vastu</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=9">
                                        <img src="../../assets/63899_3.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=9">Tala patra</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=10">
                                        <img src="../../assets/85145_4.png" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=10">Rudrakhya</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=11">
                                        <img src="../../assets/43871_5.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=11">Mala</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="products-details.php?id=12">
                                        <img src="../../assets/88104_6.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="products-details.php?id=12">Locket</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="hs_shop_prodt_main_box sajid">

                                <div class="hs_shop_prodt_img_wrapper">
                                    <a href="subcat.php?id=13">
                                        <img src="../../assets/92145_7.jpg" alt="shop_product">
                                    </a>
                                </div>
                                <div class="hs_shop_prodt_img_cont_wrapper">

                                    <h2><a href="subcat.php?id=13">Gemstone</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<app-footer></app-footer>