<app-navbar></app-navbar>

<!-- **************HOROSCOPE**************** -->
<div class="hs_title_img_overlay">
    <div class="title_wrapper"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hs_indx_title_left_wrapper">
                    <h2 class="about_h2" style="margin-left: 39px; margin-top: 0rem;">Service</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ************************************ -->
<div class="hs_about_indx_main_wrapper about_page_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/vishnu_purushasukta_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/ss1.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ପୁରୁଷସୂକ୍ତ</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/vimala_astakam_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/hqdefault.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଶ୍ରୀ ବିମଳାଷ୍ଟକମ୍</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/shiva_panchakshyara_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/s2.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶିବ ପଞ୍ଚାକ୍ଷର ସ୍ତୋତ୍ର</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/saraswati_stuti_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/s.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ସରସ୍ୱତୀ ସ୍ତୁତି</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/mahalakshmiastakam_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/s123.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଶ୍ରୀ ମହାଲକ୍ଷ୍ମୀ</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/laxmi_shreesuktam_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/s6 - Copy.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ସୂକ୍ତମ୍</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/jagannatha1k_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/gag.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଓଁ ଶ୍ରୀ ଜଗନ୍ନାଥାୟ ନମ</span>
                        </p>
                    </div>
                </a>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/hanu_chalisa_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/ha.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ହନୁମାନ ଚାଲୀସା</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/jagannatha-astakam_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/ja3.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଶ୍ରୀ ଜଗନ୍ନାଥାଷ୍ଟକଂ</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/JagannathaStuti_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/jag2.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଜଗନ୍ନାଥ ସ୍ତୁତି</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/ganesha_8ka_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/ganesh.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଗଣୋଶାୟ ନମଃ</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/GeetaGobindBigFont.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/rad.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଶ୍ରୀ ଜୟଦେବକୃତ</span>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="images/content/pdf/durga_suktam_odi.pdf" target="_blank">
                    <div class="pd_show">
                        <img src="../../assets/d.jpg" class="wd_100">
                        <p class="cl_y spn">
                            <span><i class="fa bi-file-arrow-down-fill"></i></span>
                            <span>ଦୂର୍ଗା ସୂକ୍ତମ୍</span>
                        </p>
                    </div>
                </a>
            </div><a href="images/content/pdf/durga_suktam_odi.pdf" target="_blank">
            </a>
        </div>
    </div>
</div>





<!-- **************************************************************************************************************** -->


<div class="slidebar hs_about_indx_main_wrapper about_page_wrapper">
    <div class="container">
        <div class="col-12 rt23">


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="text-center bold cl_w">Our <span>Experts Astrology</span></h1>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="border b-bg-white center">
                                <img class="so" src="../../assets/h1.jpg" alt="image">

                                <p class="b-clr">Acharya Asis Ku. Nayak</p><br>
                                <span class="b-bg">10 yrs Experience</span><br><br>
                                <button class="btn"><i class="fa fa-phone" aria-hidden="true"></i>
                                    Consult</button><br><br>
                                <span class="b-bg">Appointments Fee 1500/-</span><br><br>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="border b-bg-white center">
                                <img src="../../assets/b.jpg" alt="image"
                                    class="img-responsive center-img">

                                <p class="b-clr">ER. jagannath Mohapatra</p><br>
                                <span class="b-bg">5 yrs Experience</span><br><br>
                                <button class="btn"><i class="fa fa-phone" aria-hidden="true"></i>
                                    Consult</button><br><br>
                                <span class="b-bg">Appointments Fee 700/-</span><br><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 border  b-bg-white">
                    <br>
                    <form action="" method="post" class="was-validated">
                        <div class="form-group">
                            <input type="text" name="name" id="name" placeholder="Enter Name form" required=""
                                class="form-control mpvt_s">

                            <!-- <span class="invalid-feedback">Please Enter Name</span> -->
                        </div>
                        <div class="col-md-6">
                            <label for="gender">Gender:</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="Boys">Female</option>
                                <option value="Girls">Male</option>
                                <option value="Others" selected="">Gender</option>
                            </select>

                        </div>
                        <div class="col-md-6">
                            <label for="gender">Place of Birth:</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="Boys">Bhubaneswar</option>
                                <option value="Girls">Ganjam</option>
                                <option value="Others" selected="">Sambalpur</option>
                                <option value="Others" selected="">Baleswar</option>
                                <option value="Others" selected="">MalkanGiri</option>
                                <option value="Others" selected="">Sambalpur</option>
                                <option value="Others" selected="">Sambalpur</option>
                                <option value="Others" selected="">Sambalpur</option>
                                <option value="Others" selected="">Sambalpur</option>
                            </select>

                            <br>
                        </div>

                        <div class="form-group"><input type="text" name="name" id="name" placeholder="Date of Birth "
                                required="" class="form-control mpvt_s">

                        </div>
                        <!-- <div class="col-md-6">
                            <label for="gender">Language:</label>
                            <select class="form-control id=" gender"="" name="Language">
                                <option value="Boys">Hindi</option>
                                <option value="Girls">Odia</option>
                                <option value="Others" selected="">Gujrati</option>
                                <option value="Boys">Bengali</option>
                                <option value="Girls">Telugu</option>
                                <option value="Others" selected="">Bihari</option>
                            </select>
                        </div> -->
                        <!-- <div class="col-md-6">
                            <label for="gender">Chart Style:</label>
                            <select class="form-control id=" gender"="" name="gender">
                                <option value="Boys">North Indian style</option>
                                <option value="Girls">East Indian Style</option>
                                <option value="Others" selected="">South Indian Style</option>
                            </select>

                            <br>
                        </div> -->
                        <div class="col-md-6">
                            <label for="gender">Phone</label>
                            <div class="form-group"><input type="text" name="name" id="name" placeholder="Phone number"
                                    required="" class="form-control">

                                <br>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="gender">Email:</label>
                            <div class="form-group"><input type="text" name="name" id="name" placeholder="Email"
                                    required="" class="form-control">

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary v21">Submit Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- *********************************************************************************** -->

<div class="hs_about_indx_main_wrapper about_page_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/Kemadruma-Yoga.jpg" class="wd_100">
                    <p class="t-1 spn">

                        <span>Kemedruma Dosh</span>
                        </p>
                    <p class="prt">The Kemedruma Dosh, also called as the Kemedruma Dosha. It is one of the very significant
                        yoga / dosho related with Moon. In Vedic Astrology , the Moon is regarded as the pivotal and
                        most influential planer for the mind. This very fact make the kemadruma dosh of great
                        importance in the birth horoscope of a person.</p>
                    <p></p>
                </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/Chandal-Dosh-Puja.jpg" class="wd_100">
                    <p class="t-1 spn">
                        <span>Chandal Dosh Puja</span>
                    </p>
                    <p></p>In Vedic or Hindu Astrology, the Moon is one of the most significant and vital planets in the
                    birth horoscope of a pension. The Moon represents all the senses and their abilities to receive
                    and feel things of the together with all colors and splendors present. Hence, good and high
                    porson and favorable and supportive effects of the Moon.
                </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/Gandamula-Dosh-Puja.jpg" class="wd_100">
                    <p class="t-1 spn">

                        <span>Gundamula Dosh Puja</span>
                    </p>
                    <p>The person have Gandmool Dosh in this Nakshatras are unfortunate and face various problems
                        and hindrances in their life. Therefore, it is recommended to perform Gandmool Dosh Nivaran
                        Puja. Gandmool Dosh Nivaran Puja is performed to reduce the severe harms of the Nakshatra by
                        ruling God of Nakshatra.</p>
                </div>
            </div>
            <!-- <div class="row"> -->
            <div class="col-lg-4 col-md-34col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/angarak-yogaff-.jpg" class="wd_100">
                    <p class="t-1 spn">

                        <span>Angarak Dosh Puja</span>
                    </p>
                    <p>Angarak Dosh Nivaran Puja fixes the ill effects caused by conjuction or opposition of Rahu
                        and Mars or Sun and Mars in a birth chart. Any of the aforementioned conjunction or
                        opposition cases Angarak Dosha. Rahu and Mars are nature malefic planets. Their donjunction
                        in any house will produce ill effects for that particular house.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/pirtu-dosha.jpg" class="wd_100">
                    <p class="t-1 spn">

                        <span>Pitrudosh Puja</span>
                    </p>
                    <p>The Pitrudosh Puja is one of the most obstructive and destructive astrological dosha as found
                        in the birth horoscope of a persion. This pirudosh is taken respnsible for many odd and
                        serious problems occurring from time to time in the life of the native in various spheres.
                        The pitrudosh causes and its effects are separately stipulated in the situation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="pd_show">
                    <img src="../../assets/pr.jpg" class="wd_100">
                    <p class="t-1 spn">
                        <span>Tala Patra Jatka</span>
                        
                        <span>Only in odia Language</span>
                    </p>
                    <p>The Pitrudosh Puja is one of the most obstructive and destructive astrological dosha as found
                        in the birth horoscope of a persion. This pirudosh is taken respnsible for many odd and
                        serious problems occurring from time to time in the life of the native in various spheres.
                        The pitrudosh causes and its effects are separately stipulated in the situation.</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>