<app-navbar></app-navbar>

<div class="hs_title_img_overlay">
          <div class="title_wrapper"></div>
          <div class="container">
                    <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_indx_title_left_wrapper">
                                                  <h2 class="about_h2">FORGOT PASSWORD</h2>
                                        </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                                        <div class="hs_indx_title_right_wrapper">
                                                  <ul>
                                                           
                  
                                                  </ul>
                                        </div>
                              </div>
                    </div>
          </div>
</div>


<div class="card bg-light margin_updown border1 m_l">
          <form name="directory" action="" method="post">
                
                    
                              <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email Address*</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                              </div>
                    <button type="submit" class="btn btn-warning">submit</button>

                    <a routerLink="/home" class="raven-submit-button">Back to Index Page</a>
          </form>
</div>


<app-footer></app-footer>     
