<!-- Navbar -->
<app-navbar></app-navbar>
<app-carousel></app-carousel>


<!-- LARTEST NEWS -->
<div class="row rtl9">
    <div class="" style="display:flex">
        <div class="col-md-2 lat2">

            <h2 class="lat" style="background-color: #653908; color: azure; text-align: center;">LATEST NEWS</h2>
        </div>
        <div class="rt10">
            <div class="col-md-10 tr1">


                <div class="ticker-wrap">
                    <div class="ticker">

                        <div id="scroll-container"
                            style="margin-left: -34px; width: 1608px; height: 42px; margin-top: -3px;">
                            <div id="scroll-text">
                                <h3>Welcome to mpvtrust. mpvt Trust is which not need lyrical and eloquent introduction.
                                </h3>
                                <div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- WELCOME TO MPVTRUST -->
    <div class="hs_about_indx_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1"
                    style="margin-left: -1170px;">
                    <div class="ast_about_info_img">
                        <div class="about_slider">
                            <div class="card c" id="first"
                                style="opacity: 1; box-shadow: rgba(0, 34, 45, 0.5) 0px 20px 50px; z-index: 8; transform: translate3d(0px, 0px, 0px);">
                                <img src="../../assets/ta.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="card a" id="second"
                                style="transform: translate3d(-70px, 55px, -50px); opacity: 0.6; box-shadow: none; z-index: 7;">
                                <img src="../../assets/hr.jpg" alt="" class="img-responsive">
                            </div>

                            <!-- <div class="btn-wrap">
                      <a href="javascript:void(0);" class="btn focus" id="one"></a>
                      <a href="javascript:void(0);" class="btn" id="two"></a>
                    </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left: 578px;">
                    <div class="hs_about_heading_main_wrapper">
                        <div class="hs_about_heading_wrapper">
                            <h2>Welcome to <span>MPVTRUST</span></h2>
                            <h4><span>&nbsp;</span></h4>
                        </div>
                    </div>
                    <div class="hs_about_right_cont_wrapper">

                        <h2>Horoscope Revels The Will Of God</h2>
                        <p class="hor1">The world-renowned, revered astrologer and prophesier MPVT Trust is which not
                            need lyrical and eloquent introduction. MPVT Trust acknowledged as one of the best
                            astrologers provide in Odisha of the last 10 years in The Millennium Book of Prophecy.

                        </p>
                        <p>
                            AstroSage is one of the most authentic astrology destinations for not only those who are
                            seeking astrological assistance, but also for high-level astrological research and
                            development on wide scale. It is a prolific astrological source for people to help them out
                            from mundane questions to specialized queries. Our aim is to ameliorate those who are facing
                            problems and betterment of humanity using divine science of astrology.
                        </p>
                        <div>
                            <section>
                                <a class="btn-link" style="width: 169px; margin-left: -10px; margin-top: 45px;">Read
                                    More</a>
                            </section>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ******************** -->

    <div class="hs_about_indx_main_wrapper">
        <div class="ams  ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hs_about_left_text_wrapper  v7">
                            <h1 class="text-center v9">Aims &amp; Objective</h1>
                            <p class="para1">To advancement of general public unit for imparting primary, Seconadry
                                technical and
                                professional studies,
                                vedic studies, promotion of vedic articles, veda recitation camp.
                                To help the marginalized, disadvantage, downtrodden, rural, tribal and socially backward
                                classes for the socio-<br><br>
                                economic and educational uplift with gender sensitivity.
                                To establish rural dynamic processes / models for all-round devlopm ent of the society
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hs_about_right_para_wrapper  v7">
                            <h1 class="text-center v9">Our Achievment</h1>
                            <p class="para1">To advancement of general public unit for imparting primary, Seconadry
                                technical and
                                professional studies,
                                vedic studies, promotion of vedic articles, veda recitation camp.
                                To help the marginalized, disadvantage, downtrodden, rural, tribal and socially backward
                                classes for the socio-<br><br>
                                economic and educational uplift with gender sensitivity.
                                To establish rural dynamic processes / models for all-round devlopm ent of the society
                            </p>

                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hs about ind wrapper End -->
        <!-- hs testi slider wrapper Start -->
        <!-- <div class="hs_testi_slider_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="hs_about_heading_main_wrapper">
						<div class="hs_about_heading_wrapper">
							<h2  class="text-center">Clients <span>Testimonial</span></h2>
							<h4 class="text-center"><span>&nbsp;</span></h4>
							<p class="text-center"></p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="hs_testi_slider_wrapper">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="testimonial_slider_content">
											<img src="images/content/77.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Anurag  Agarwal</h5>
							
											<h4><span>&nbsp;</span></h4>
											<p>Wonderful consultation with astrologer. I was extremely worried and confused regarding a lot of things and much more about career problem and the consultation helped me in more than one ways. After trying a lot and with nothing going right for me, it was reassuring to know that things will change.</p>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
										<div class="testimonial_slider_content">
											<img src="images/content/88.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Rasmita Sahoo</h5>
											
											<h4><span>&nbsp;</span></h4>
											<p>Fo me his services are really effective. I was totally depressed and astrologer provides me the remedies that changed my life. Astrologer is amazing at his work and he is genuine person. With his proper guidance i am happy and doing great in my life. I am really thankful to him and really appreciate.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="testimonial_slider_content">
											<img src="images/content/88.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Kajal Mahapatra</h5>
										
											<h4><span>&nbsp;</span></h4>
											<p>Thank you MPVT Trust for helping in my dream chase. Your remedies are easy &amp; damn sure they will be effective too. You charge quite less than many other astrology sites which charge high and give wrong/fake reports. I will definitely consult more in the coming future for other aspects of my life.
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
										<div class="testimonial_slider_content">
											<img src="images/content/77.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Manish Yadav</h5>
										
											<h4><span>&nbsp;</span></h4>
											<p> Earlier I did not know about it, then I came to know from Mahaeshi Astrology how it works. I got information about face reading from them and Maharshi Astrology proved very helpful information for me and I tend to make mistakes in life. This information has made my life very easy.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="testimonial_slider_content">
											<img src="images/content/77.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Pratik Sharma</h5>
								
											<h4><span>&nbsp;</span></h4>
											<p> I gave interviews in many companies but everywhere I got disappointed. When my family members took information about this in Maharshi Astrology, they came to know that I have Shani Dosha, After that they got me worshiped for it, after a few days I got selected in a company, thank Maharshi Astrology.</p>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-xs">
										<div class="testimonial_slider_content">
											<img src="images/content/88.png" class="img-responsive"
												alt="section3_t2__img" />
											<h5>Charu Meena</h5>
							
											<h4><span>&nbsp;</span></h4>
											<p>I was having a lot of problems in my life and i Showed my hand so many astrologers but no one give satisfied solution. One day my friend told about Maharshi Astrology And I was very impressed with the methods that daily astrology gives. Thankyou Dainik Astrology.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
        <!-- hs testi slider wrapper End -->
        <!-- hs service wrapper Start -->
        <div class="hs_service_main_wrapper" style="margin-top: 4rem;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="hs_about_heading_main_wrapper">
                            <div class="hs_about_heading_wrapper">
                                <h2 class="text-center">Our <span> Services</span></h2>
                                <h4 class="text-center"><span>&nbsp;</span></h4>
                                <p class="text-center"></p>
                                <div class="rrr" style="display: flex">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a href="images/content/pdf/vishnu_purushasukta_odi.pdf" target="_blank">
                                            <div class="pd_show">
                                                <img src="../../assets/ss1.jpg" class="wd_100">
                                                <p class="cl_y spn">
                                                    <span><i class="fa fa-download"></i></span>
                                                    <span>ପୁରୁଷସୂକ୍ତ</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- <div class="row"> -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a href="images/content/pdf/vimala_astakam_odi.pdf" target="_blank">
                                            <div class="pd_show">
                                                <img src="../../assets/hqdefault.jpg" class="wd_100">
                                                <p class="cl_y spn">
                                                    <span><i class="fa fa-download"></i></span>
                                                    <span>ଶ୍ରୀ ଶ୍ରୀ ବିମଳାଷ୍ଟକମ୍</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- <div class="row"> -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a href="images/content/pdf/shiva_panchakshyara_odi.pdf" target="_blank">
                                            <div class="pd_show">
                                                <img src="../../assets/s2.jpg" class="wd_100">
                                                <p class="cl_y spn">
                                                    <span><i class="fa fa-download"></i></span>
                                                    <span>ଶିବ ପଞ୍ଚାକ୍ଷର ସ୍ତୋତ୍ର</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- <div class="row"> -->
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <a href="images/content/pdf/saraswati_stuti_odi.pdf" target="_blank">
                                            <div class="pd_show">
                                                <img src="../../assets/s.jpg" class="wd_100">
                                                <p class="cl_y spn">
                                                    <span><i class="fa fa-download"></i></span>
                                                    <span>ଶ୍ରୀ ସରସ୍ୱତୀ ସ୍ତୁତି</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>    
                                <!--/.portfolio-area-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="hs_effect_btn">
                            <!-- <p class="v12"><a href="service.php" class="hs_btn_hover v13">View MORE</a></p> -->
                            <section>
                                <a class="btn-link" href="/services" style="width: 169px; margin-left: 566px; margin-top: 25px;">Load
                                    More</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- LATEST NEWS -->
<div class="hs_latest_news_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2 class="text-center">Latest <span> News</span></h2>
                        <h4 class="text-center"><span>&nbsp;</span></h4>
                        <p class="text-center"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="../../assets/as1.jpg" alt="blog_img">
                        <!-- <ul>
                            <li>29 Jul, 2020</li>
                        </ul> -->
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <!-- <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul> -->
                        </div>
                        <h5></h5>
                        <p></p>
                        <h4><a href="/home">Read More <i class="bi bi-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="../../assets/as2.jpg" alt="blog_img">
                        <!-- <ul>
                            <li>29 Jul, 2020</li>
                        </ul> -->
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <!-- <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul> -->
                        </div>
                        <h5></h5>
                        <p></p>
                        <h4><a href="/home">Read More <i class="bi bi-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_lest_news_box_wrapper">
                    <div class="hs_lest_news_img_wrapper">
                        <img src="../../assets/as6.jpg" alt="blog_img">
                        <!-- <ul>
                            <li>29 Jul, 2020</li>
                        </ul> -->
                    </div>
                    <div class="hs_lest_news_cont_wrapper">
                        <div class="hs_lest_news_meta_wrapper">
                            <!-- <ul>
                                <li>
                                    <a href="#">By - Admin</a>
                                </li>
                                <li>
                                    <a href="#">256 Comments</a>
                                </li>
                            </ul> -->
                        </div>
                        <h5></h5>
                        <p></p>
                        <h4><a href="/home">Read More <i class="bi bi-arrow-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_effect_btn">
                    <ul>
                        <!-- <li><a href="#" class="hs_btn_hover">View All</a></li> -->
                        <section>
                            <a class="btn-link" href="/home" style="width: 169px; margin-left: 545px; margin-top: 25px;">View All</a>
                        </section>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MY FOORTER -->
<app-footer></app-footer>