<app-navbar></app-navbar>

<!-- **************Members**************** -->
<div class="hs_title_img_overlay">
    <div class="title_wrapper"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hs_indx_title_left_wrapper">
                    <h2 class="about_h2" style="margin-left: 39px; margin-top: 0rem;">Members</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************ -->
<div class="v1">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 v30">
                    <div class="hs_astro_img_wrapper">
                        <img src="../../assets/c.jpg" alt="team-img">
                        <div class="ar a3">
                            <div class="a5">
                                <p><b> Name-PragatiRanjan Mohapatra</b></p>
                                <p>Designation-Asst.Secretary</p>
                                <p>Contact-8249573038</p>
                                <p><a href="mailto:pragatilipu@gmail.com">pragatilipu@gmail.com</a></p>
                                <p></p>
                            </div>
                        </div>
                        <!-- <ul>
								<li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
							</ul> -->
                    </div>
                </div>
                <div class="col-md-3 v30">
                    <div class="hs_astro_img_wrapper">
                        <img src="../../assets/f.jpg" alt="team-img">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="v2">
                                <div class="v3">
                                    <p><b>Name-Kshanaprava Jena</b></p>
                                    <p>Designation-Asst.Co-Ordinator(Social Media)</p>
                                    <p>Contact-8328847802</p>
                                    <p class="v16"><a href="mailto:kshanapravajena22@gmail.com">
                                            kshanapravajena22@gmail.com</a></p>
                                </div>
                            </div>
                        </div>
                                        <!-- <ul>
											<li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
										</ul> -->
                    </div>
                </div>
                <div class="col-md-3 v30">
                    <div class="hs_astro_img_wrapper">

                        <img src="../../assets/d (1).jpg" alt="team-img">
                        <div class="ar a1">
                            <div class="a6">
                                <p><b>Name-Dr.SaumyaDarsan Mohanty</b></p>
                                <p>Designation-Vice-President</p>
                                <p>Contact-7008512727</p>
                                <p class="v16"><a href="mailto:saumyadarsan@gmail.com">saumyadarsan@gmail.com</a></p>
                            </div>
                        </div>
                        <!-- <ul>
                                 <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
							</ul> -->
                    </div>
                </div>
                <div class="col-md-3 v30">
                    <div class="hs_astro_img_wrapper">
                        <img src="../../assets/Advisor-cum-Treasurer.jpg" alt="team-img">
                        <div class="ar a2">
                            <div class="a4">
                                <p class="v15"><b>Name-Er.Tapas Kumar Chand</b></p>
                                <p>Designation-Advisor-cum Treasurer</p>
                                <p>Contact-9439103127</p>
                            </div>
                        </div>

                        <!-- <ul>
                                 <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
							</ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>